<% provide(:title, "ながのCAKEについて") %>
<div class="text-center" margin_top="100">
    <h1 style="font-weight: bold;  margin: 30px auto;">About</h1>
</div>
    <div class="row">
        <div class="mx-auto align-items-center; text-center">
            <br>
            ながのCAKEは全国発送可能なケーキ屋さんです。<br>
            お子様からお年寄りの方までお召し上がりいただけるよう、<br>
            様々なバリエーションをご用意しております。<br>
            また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
            ぜひご注文ください。<br>
            <br>
        <div class="col-xs-6">
        <%= image_tag "about.jpg", alt: "cake1", :size =>'250x200' %>
        </div>
        </div>
    </div>