<div class="container">
 <h2 class="font-weight-bold my-5"><span style="background-color: #EEEEEE"> 会員一覧 </span></h2>

  <div class="row d-flex justify-content-center">
  <%= render 'index', customers: @customers%>
 </div>
 <div class="d-flex justify-content-center"><%= paginate(@customers)%></div>
</div>